<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>create page</title>
</head>
<body>
<h1>Create</h1>
<form method="POST" action="/document/create" >
    <label>
        Title:
        <input type="text" name="title" />
    </label>
    <label>
        Content:
        <input type="text" name="content" />
    </label>
    <button>Submit</button>
</form>
</body>
</html>