<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>edit page</title>
</head>
<body>
<h1>Edit</h1>
<!--how to handle the action url???-->
<form method="POST" action="/document/edit/<%=_id%>" >
    <label>
        Title:
        <input type="text" name="title" value="<%= title %>"/>
    </label>
    <label>
        Content:
        <input type="text" name="content" value="<%= content %>"/>
    </label>
    <button>Submit</button>
</form>
</body>
</html>